@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/roboto/v18/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
}

body {
    min-width: 1280px;
    /*text-overflow: hidden;*/
    background-color: #272f45;
    font-family: Roboto, Helvetica, Arial, sans-serif;    
    color: #a9a9a9;
}

header {
    width: 1160px;    
    display: flex;   
    align-items: center;
    justify-content: space-between;
    /*text-overflow: hidden;*/
}

/*.logo img {
    height: auto;
    width: auto;
}*/

.wrapper {    
    width: 1160px;    
    display: flex;
    margin: 0px auto;    
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
}

.child {
    margin-top: 40px;
    position: relative;
}

.item-l,
.item-l__img {
    width: 1160px;
    height: 680px;
    font-family: Helvetica, Arial, sans-serif;
}

.item-l .item__heading {
    
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 40px;
}

.item-l .item__descriptionText {
    margin-bottom: 200px;
}

.item-l .item__description {
    font-size:30px;
    color: #fffaf0;
    margin-bottom: 20px;
    margin-left: 20px;
    position: absolute;
    top: 20%;
    z-index: 10;
    width: 40%;
}

.buttonLink-l {
    border: 2px solid #b8860b;
    color: #ccc;
    background-color: #181818;
    text-decoration-line: none;
    padding: 20px;
}

.buttonLink-l:hover,
.buttonLink-m:hover,
.buttonLink-s:hover {
    color: #ccc;
    background-color: #333;
    transition: .4s;
}

.badge {    
    position: absolute;
    left: 990px;
    top: 20px;
    width: 112px;
    height: 115px;
    z-index: 15;
}

.ks-logo {    
    position: absolute;
    left: 1027px;
    top: 47px;
    width: 1302px;
    height: 135px;
    z-index: 16;
}

.item-m,
.item-m__img {
    width: 560px;
    height: 517px;
    font-family: Helvetica, Arial, sans-serif;
}

.item-m .item__heading {    
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 20px;
}

.item__description-left .description-text {
    margin-bottom: 70px;
}

.item-m .item__description-left {
    /*font-family: "Passion One", Helvetica, Arial;*/
    font-size:28px;
    text-align: right;
    color: #fffaf0;    
    position: absolute;
    top: 10%;
    right: 20px;
    z-index: 10;
    width: 70%;
    height: 60%;
}

.item__description-right .description-text {
    margin-bottom: 100px;
}

.item-m .item__description-right {
    /*font-family: "Passion One", Helvetica, Arial;*/
    font-size:28px;
    text-align: left;
    color: #fffaf0;    
    position: absolute;
    top: 10%;
    left: 20px;
    z-index: 10;
    width: 70%;
    height: 60%;
}

.buttonLink-m {
    display: inline-block;
    border: 2px solid #b8860b;
    text-decoration-line: none;
    padding: 20px;
    bottom: 0px;
}

.item-s,
.item-s__img {
    width: 360px;
    height: 440px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}

.item-s .item__heading {    
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 35px;
}

.item-s .item__description {
    font-family: "Passion One";
    font-size:20px;
    color: #fffaf0;
    margin-bottom: 20px;
    /*margin-left: 20px;*/
    position: absolute;
    top: 20%;
    z-index: 10;
    width: 100%;
}

.item-s .item__heading {    
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 35px;
}

.item-s .item__description {    
    font-size:20px;
    color: #fffaf0;
    margin-bottom: 20px;
    /*margin-left: 20px;*/
    position: absolute;
    top: 20%;
    z-index: 10;
    width: 100%;
}

.item__description-low {
    color: #fffaf0;
    margin-top: 170px;
    /*margin-left: 20px;*/
    position: absolute;
    top: 20%;
    z-index: 10;
    width: 100%;
}

.buttonLink-s {
    border: 2px solid #b8860b;
    text-decoration-line: none;
    padding: 20px;
}

.subscribeForm {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;    
    font-family: "Passion One";
    font-size:24px;    
}

.navBar {
    width: 1160px;    
    display: flex;
    justify-content: center;
    display: flex;
    list-style-type: none;
}

.navBar .navBar__item {
    padding: 0px 10px;
    text-decoration-line: none;
    color: #a9a9a9;    
}

.navBar .navBar__item:hover {
    color: #87cefa;
    transition: .4s;
}

.navBar li:not(:first-child)::before {
    content: '● ';
}

.copy {
    text-align: center;
    margin: 20px;
}

.input {
    background-color: #272f45;
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
    color: #a9a9a9;
    font-size: 16px;
}

.search {
    width: 240px;
    border: none;
    border-bottom: 2px solid #a9a9a9;
    font-size: 32px;
    z-index: 10000;
}

.lookingGlass {
    position: relative;
    left: 30px;
    top: 45px;
    width: 30px;
    height: 30px;
}

/*.search::after {
    font-size: 36px;
    content: '⌕';
    color: red;
    z-index: +10000;
}*/

.email {
    border: 2px solid #a9a9a9;
    height: 36px;
    width: 220px;    
}

.submit {
    border: 2px solid #a9a9a9;
    height: 36px;
    width: 220px;
    color: lightgrey;
}

.submit:hover {
    background-color: #333;
    border: 2px solid #87cefa;
    transition: .4s;
}
