@font-face {
  font-family: 'Didact Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('Didact Gothic Regular'), local('DidactGothic-Regular'), url(https://fonts.gstatic.com/s/didactgothic/v11/v8_72sD3DYMKyM0dn3LtWmYKogTrBb-Yb2DFwx30qLM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
    min-width: 1280px;
    background-color: #272f45;
    font-family: MyriadProRegular, Helvetica, sans-serif;    
    color: #a9a9a9;
}

header {
    width: 1160px;    
    display: flex;   
    align-items: center;
    justify-content: space-between;
}

.footer {
    font-family: Helvetica, sans-serif;
}

/*.logo img {
    height: auto;
    width: auto;
}*/

.wrapper {    
    width: 1160px;    
    display: flex;
    margin: 0px auto;    
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
}

.child {
    margin-top: 40px;
    position: relative;
}

.item-l,
.item-l__img {
    width: 1160px;
    height: 680px;
    background-color: #afbdc0;
    font-family: Helvetica, sans-serif;
}

.item-l .item__heading {
    
    font-weight: 700;
    font-size: 90px;
    margin-bottom: 40px;
}

.item-l .item__descriptionText {
    /*margin-bottom: 170px;*/
}

.item-l .item__description {
    font-size:35px;
    font-weight: 100;
    color: #fffaf0;
    margin-bottom: 20px;
    margin-left: 60px;
    position: absolute;
    top: 15%;
    z-index: 10;
    height: 480px;
    width: 40%;
}

.button-link--l,
.button-link--m,
.button-link--s {
    border: 3px solid #eec9a2;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.button-link--l:hover,
.button-link--m:hover,
.button-link--s:hover {
    color: #ccc;
    background-color: #333;
    transition: .4s;
}

.item-l .button-link--l {
    position: absolute;
    bottom: 0px;
}

.badge {    
    position: absolute;
    left: 990px;
    top: 20px;
    width: 112px;
    height: 115px;
    z-index: 15;
}

.ks-logo {    
    position: absolute;
    left: 1027px;
    top: 47px;
    width: 132px;
    height: 135px;
    z-index: 16;
}

.item-m,
.item-m__img {
    width: 560px;
    height: 517px;
    font-family: Helvetica, sans-serif;
}

.item-m--left {
    background-color: #60a8a3;
}

.item-m--right {
    background-color: #7778c6;
}

.item-m .item__heading {    
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 20px;
}

.item__description-left .description-text {
    margin-bottom: 70px;
}

.item-m .item__description-left {
    font-size:22px;
    text-align: right;
    color: #fffaf0;    
    position: absolute;
    top: 10%;
    right: 20px;
    z-index: 10;
    width: 70%;
    height: 60%;
}

.item__description-left .button-link--m {
    /*margin-top: 30px;*/
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.item__description-right .button-link--m {
    /*margin-top: 62px;*/
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.item-m .item__description-right {
    font-size:22px;
    text-align: left;
    color: #fffaf0;    
    position: absolute;
    top: 10%;
    left: 20px;
    z-index: 10;
    width: 70%;
    height: 60%;
}

.item-s,
.item-s__img {
    width: 360px;
    height: 440px;
    text-align: center;
    font-family: MyriadProRegular, Helvetica, sans-serif;    
}

.item-s--left {
    background-color: #e97864;
}

.item-s--center {
    background-color: #557581;
}

.item-s--right {
    background-color: #82c9d8;
}

.item-s .item__heading {    
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 35px;
}

.item-s .item__description {
    font-size:20px;
    color: #fffaf0;
    margin-bottom: 20px;
    position: absolute;
    top: 20%;
    z-index: 10;
    width: 100%;
}

.item-s .item__heading {    
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 35px;
}

.item-s .item__description {    
    font-size:16px;
    color: #fffaf0;
    margin-bottom: 20px;
    position: absolute;
    top: 15%;
    z-index: 10;
    width: 100%;
}

.item__description-low {
    color: #fffaf0;
    margin-top: 170px;
    position: absolute;
    top: 20%;
    z-index: 10;
    width: 100%;
}

.subscribe-form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;    
    font-family: Helvetica, sans-serif;
    font-size:24px;    
}

.subscribe-form h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.nav-bar {
    width: 1160px;    
    display: flex;
    justify-content: center;
    display: flex;
    list-style-type: none;
}

.nav-bar .nav-bar__item {
    padding: 0px 10px;
    text-decoration: none;
    color: #a9a9a9; 
    /*font-family: Helvetica, sans-serif;   */
}

.nav-bar .nav-bar__item:hover {
    color: #87cefa;
    transition: .4s;
}

.nav-bar li:not(:first-child)::before {
    content: '● ';
}

.copy {
    text-align: center;
    margin: 20px;
}

.input {
    background-color: #272f45;
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
    color: #a9a9a9;
    font-size: 16px;
}

.search {
    width: 240px;
    border: none;
    border-bottom: 2px solid #a9a9a9;
    font-size: 32px;
    z-index: 10000;
}

.search:focus,
.email:focus,
.submit:focus {
    outline: none;
}

.lookingGlass {
    position: relative;
    left: 45px;
    top: 10px;
    width: 35px;
    height: 35px;
}

.email {
    border: 2px solid #a9a9a9;
    height: 36px;
    width: 220px;    
}

.submit {
    border: 2px solid #a9a9a9;
    height: 36px;
    width: 220px;
    color: lightgrey;
}

.submit:hover {
    background-color: #333;
    border: 2px solid #87cefa;
    transition: .4s;
}
